body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2yIMBR7POTx7e_fjv9Nj0wLyFZ62bI15BlA&s);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 1px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}
