body {
  background: url(https://i.pinimg.com/originals/7c/3c/d4/7c3cd4a118b8f03afe7908a706ba9e42.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

